@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
.main {
  padding-bottom: 60px; /* به اندازه ارتفاع dock */
}

body {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
